body {
    font-family: Arial, sans-serif;
    background-color: #0f0e0e;
}
.calculator {
    width: 340px;
    height: auto;
    margin: 100px auto;
    background-color: #d5e3d9;
    border-radius: 5px;
   
    padding: 20px;
    border-radius: 15px;
}
.calculator input[type="button"] {
    width: 70px;
    height: 65px;
    margin: 5px;
    font-size: 20px;
    
   
    cursor: pointer;
    border-radius: 6px;
}
.calculator input[type="text"] {
    width: calc(100% - 10px);
    height: 40px;
    margin: 10px;
    font-size: 20px;
    border: 3px solid rgb(19, 13, 13);
    padding: 5px;
    text-align: right;
    border-radius: 10px;
    margin-right: 10px;
}
#display{
    max-width: 310px;
    box-shadow:0 0 10px rgb(19, 18, 18) ;
    background-color: #f4f4f4;
}
.c-btn{
    background-color: red;
    color: white;
}

.btn-black{
    background-color: black;
    color: #f4f4f4;
}